@model CreateFeatureDto
@{
    ViewData["Title"] = "CreateCar";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title font-size-18">Yeni Araç Özelliği Girişi</h4>
                        <p class="card-subtitle mb-4">Arabalar ile ilgili yeni bir özellik ekleme işlemleri bu sayfa üzerinden gerçekleştirebilirsiniz. Veri girişlerinden sonra kaydet butonuna tıklayarak işlemi tamamlayabilirsiniz. Temada veri tutarlılığını sağlayabilmek için lütfen 3' ün katı şeklinde veri girişi yapınız.</p>
                        <br />
                        <form method="post">

                            <div class="form-group">
                                <label>Model</label>
                                <input type="text" class="form-control" asp-for="@Model.Name">
                            </div>

                            <button type="submit" class="btn btn-primary waves-effect waves-light">Özelliği Kaydet</button>
                            <a href="/Admin/AdminFeature/Index/" class="btn btn-danger waves-effect waves-light"> Araç Özellik Listesine Dön </a>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



