@model List<ResultFooterAddressDto>

<div class="col-md">
    <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">Bir sorunuz mu var?</h2>
        <div class="block-23 mb-3">
            @foreach (var item in Model){
                <ul>
                    <li><span class="icon icon-map-marker"></span><span class="text">@item.Address</span></li>
                    <li><a href="/Contact/Index/"><span class="icon icon-phone"></span><span class="text">@item.Phone</span></a></li>
                    <li><a href="/Contact/Index/"><span class="icon icon-envelope"></span><span class="text">@item.Email</span></a></li>
                </ul>
            }
            
        </div>
    </div>
</div>
