@model List<ResultSocialMediaDto>



    <div class="col-md">
        <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2"><a href="#" class="logo">Car<span>book</span></a></h2>

        
        @await Component.InvokeAsync("_FooterDescriptionComponentPartial")

     
        @foreach (var item in Model)
        {
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="@item.Url"><span class="@item.Icon"></span></a></li>
                
            </ul>
        }
        </div>
    </div>



