@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<style>
    /* 3 grafik kartının yüksekliği %100 aynı olsun */
    .chart-fixed-height {
        height: 520px !important; /* Bu değeri istediğin gibi ayarla */
    }

    /* Mobilde alta düşsünler, yükseklik otomatik olsun */
    @@media (max-width: 992px) {
        .chart-fixed-height

    {
        height: auto !important;
    }

    }
</style>

<div class="page-content">
    <div class="container-fluid">
        <br />
        <br />
        @await Component.InvokeAsync("_AdminDashboardStatisticsComponentPartial")

        <div class="row">

            @await Component.InvokeAsync("_AdminDashboardChart1ComponentPartial")

            @await Component.InvokeAsync("_AdminDashboardChart2ComponentPartial")

            @await Component.InvokeAsync("_AdminDashboardChart3ComponentPartial")
            
        </div>
       
        <div class="row">
             
            @await Component.InvokeAsync("_AdminDashboardCarPricingListComponentPartial")

            @await Component.InvokeAsync("_AdminDashboardBlogListComponentPartial")

        </div>
    </div> 
</div>





<script src="~/Admin/vertical/assets/js/jquery.min.js"></script>
@* <script src="~/Admin/vertical/assets/js/bootstrap.bundle.min.js"></script> *@
@* <script src="~/Admin/vertical/assets/js/metismenu.min.js"></script> *@
@* <script src="~/Admin/vertical/assets/js/waves.js"></script> *@
@* <script src="~/Admin/vertical/assets/js/simplebar.min.js"></script> *@

<!-- Morris Js-->
<script src="~/Admin/plugins/morris-js/morris.min.js"></script>
<!-- Raphael Js-->
<script src="~/Admin/plugins/raphael/raphael.min.js"></script>

<!-- Morris Custom Js-->
<script src="~/Admin/vertical/assets/pages/dashboard-demo.js"></script>

@* <!-- App js -->
<script src="~/Admin/vertical/assets/js/theme.js"></script> *@

